html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
body{
    width: 100%;
    margin: 0px;
}
.top{
    width: 100%;
    height: 40px;
    background:rgb(229,229,229);
    border-bottom: solid #ced5d3 1px;
}
.top div{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    font-family: "微软雅黑 Light";
    text-decoration: none;
}
#back{
    float: right;
    padding: 0px;
    margin-top:7px;
    color: rgb(0,0,0);
    font-size:20px ;
}
.car{
    float: right;
    height: 12px;
    width: 22px;
    margin-right: 37px;
    margin-top: 14px;
}
.myCar{
    font-size: 18px;
    float: right;
    margin-right:3px;
    margin-top: 8px;
    text-decoration: none;
    color: #989898;
    font-family: 微软雅黑;
}
.welcome,.home{
    font-family: 微软雅黑;
    font-size: 18px;
    color: #989898;
    float: left;
    margin-top: 8px;
}
.middle{
    width:1024px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    float: left;
    margin-left: 35px;
    margin-top: 40px;
    font-family: 微软雅黑;
    font-size: 20px;
    font-weight: 600;
    cursor: default;
}
.right{
    float: right;
    margin-top: 40px;
    margin-right: 35px;
    font-family: 微软雅黑;
    font-size: 20px;
    font-weight: 600;
}
.right span{
    border-left: 1px solid rgb(0,0,0);
    border-right: 1px solid rgb(0,0,0);
    padding-left: 20px;
    padding-right: 20px;
    cursor: default;
    display: inline;
}
.title1{
    border-bottom: 1px solid rgb(0,0,0);
    width:100%;
    height: 90px;
}
.title2{
    width:100%;
    height:50px;
    font-family: "微软雅黑 Light";
    font-size: 20px;
}
.title2 p{
    margin-top: 5px;
    display: inline;
    float: right;
    margin-right: 85px;
}
.title2 .goodsName{
    float: left !important;
    margin-left: 85px;
}
.content{
    width:100%;
    font-family: 微软雅黑;
    font-size: 15px;
    height:100px;
    background: rgb(229, 229, 229);
    margin-bottom: 30px;
}
.content img{
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 20px;
}
.content .trGoodsName{
    float: left!important;
    margin-left: 50px;
    margin-right: 20px!important;
}
.content p{
    float: right;
    margin-right: 95px;
    margin-top: 40px;
}
.content .delete{
    cursor: hand;
}
.content .delete:hover{
    color: rgb(196,0,0);
    font-size: 20px;
}
.purchase{
    width:1024px;
    height:100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 微软雅黑;
    font-size: 20px;
    clear: both;
}
.purchase span{
    display: inline;
    float: right;
}
.purchase .buy{
    width:150px;
    height:35px;
    border-radius: 1px;
    background: rgb(196,0,0);
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: hand;
}
.purchase p{
    padding-top: 3px;
}
.purchase .totalPrice{
    font-size: 25px;
    color: rgb(196,0,0);
    margin-right:20px;
    cursor: default;
}
.purchase .totalName{
    padding-top: 3px;
    padding-right: 4px;
    cursor: default;
}
.bottom{
    width: 100%;
    margin-top: 50px;
}
.bottom .shadow{
    height: 215px;
    background-color: rgba(0,0,0,.09);
}
.bottom img{
    margin:auto;
    display: block;
}
.bottom .black{
    width: 100%;
    background-color: rgb(0,0,0);
    height: 30px;
}
.bottom .black p{
    text-align: center;
    font-family: "微软雅黑 Light";
    font-size:14px;
    color: rgb(255,255,255);
    padding-top: 7px;
}
#bg{
    left:0;
    top:0;
    background:#000;
    opacity:0.3;
    position:absolute;
    width: 100%;
}
#content{
    top:50%;
    left:50%;
    width:400px;
    height:350px;
    margin:-175px -200px;
    background: rgb(255,255,255);
    text-align: center;
    position: fixed;
    -webkit-box-shadow:  0px 0px 10px 0.1px rgb(0, 0, 0);
    -moz-box-shadow:  0px 0px 10px 0.1px rgb(0, 0, 0);
    box-shadow:  0px 0px 10px 0.1px rgb(0, 0, 0);
    -o-box-shadow:0px 0px 10px 0.1px rgb(0, 0, 0) ;
    text-align: center;
    font-family: "微软雅黑 Light";
    font-size: 25px;
    color: rgb(196, 0, 0);
}
.hide{
    display: none;
}
.show{
    display: block;
}